@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>Login to the chat application <a asp-page="Login">Click Here</a></div>
</div>
