@{
    ViewData["Title"] = "Logout";
}



<div class="row">
    <div class="col-md-4">
        <div>
            Logged out successfully. Please <a asp-page="Login">Click here</a> to login
        </div>
    </div>
</div>

